body{

    background-color: black !important;
    color: white !important;
    font-family: 'Orbitron', sans-serif;
}

.gris{
    text-align: center;
    color: #D3D3D3 !important;
    margin-top: 100px;
    text-decoration: underline;
}

.titulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar{
    background-color: #1E90FF !important;
    color: white;
}

.navbar-brand{
    color: #ffffff;
}

.nav-link{
    color: white;
}

.logo{
    display: block;
    margin: 0 auto;
}